:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);

  &__logo {
    font-size: 32px;
    // color: white;
    font-weight: 700;
  }

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  &__nav a {
    margin: 0 1rem;
    text-decoration: none;

    &:hover {
      color: red;
    }
  }

  &__nav a:hover {
    color: var(--secondaryColor);
  }

  &__navBtn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    &__navBtn {
      visibility: visible;
      opacity: 1;
    }

    &__navbar {
      position: fixed;
      top: -100vh;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--mainColor);
      gap: 1.5rem;
      transition: 1s;
    }

    &__navBtnClose {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }

    &__navbar a {
      font-size: 1.5rem;
    }
  }
}

.responsiveNav {
  transform: translateY(100vh); // Example style
}
